.exc-fb {
display: none !important;
}

.exc-ia {
display: flex !important;
}

input#exc-v-0-q-1:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-2:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-3:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-4:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-5:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-6:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-7:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-8:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-9:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-0-q-10:checked~.exc-v #exc-notif-0 {
display: flex !important;
}
input#exc-v-1-q-1:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-2:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-3:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-4:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-5:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-6:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-7:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-8:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-9:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-1-q-10:checked~.exc-v #exc-notif-1 {
display: flex !important;
}
input#exc-v-2-q-1:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-2:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-3:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-4:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-5:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-6:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-7:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-8:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-9:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-2-q-10:checked~.exc-v #exc-notif-2 {
display: flex !important;
}
input#exc-v-3-q-1:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-2:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-3:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-4:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-5:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-6:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-7:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-8:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-9:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-3-q-10:checked~.exc-v #exc-notif-3 {
display: flex !important;
}
input#exc-v-4-q-1:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-2:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-3:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-4:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-5:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-6:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-7:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-8:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-9:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-4-q-10:checked~.exc-v #exc-notif-4 {
display: flex !important;
}
input#exc-v-5-q-1:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-2:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-3:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-4:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-5:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-6:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-7:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-8:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-9:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-5-q-10:checked~.exc-v #exc-notif-5 {
display: flex !important;
}
input#exc-v-6-q-1:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-2:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-3:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-4:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-5:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-6:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-7:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-8:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-9:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
input#exc-v-6-q-10:checked~.exc-v #exc-notif-6 {
display: flex !important;
}
