/* VARIABLES */
/* quantity */

/* variant1 */
input#variant-1-quantity-0:checked ~ .container {
  --variant-1-quantity: 0;
}

input#variant-1-quantity-0:checked ~ .container {
  --variant-1-quantity: 0;
}

input#variant-1-quantity-1:checked ~ .container {
  --variant-1-quantity: 1;
}

input#variant-1-quantity-2:checked ~ .container {
  --variant-1-quantity: 2;
}

input#variant-1-quantity-3:checked ~ .container {
  --variant-1-quantity: 3;
}

input#variant-1-quantity-4:checked ~ .container {
  --variant-1-quantity: 4;
}

input#variant-1-quantity-5:checked ~ .container {
  --variant-1-quantity: 5;
}

input#variant-1-quantity-6:checked ~ .container {
  --variant-1-quantity: 6;
}

input#variant-1-quantity-7:checked ~ .container {
  --variant-1-quantity: 7;
}

input#variant-1-quantity-8:checked ~ .container {
  --variant-1-quantity: 8;
}

input#variant-1-quantity-9:checked ~ .container {
  --variant-1-quantity: 9;
}

input#variant-1-quantity-10:checked ~ .container {
  --variant-1-quantity: 10;
}

/* variant2 */
input#variant2-1-quantity0:checked ~ .container {
  --variant-2-quantity: 0;
}

input#variant2-1-quantity1:checked ~ .container {
  --variant-2-quantity: 1;
}

input#variant2-1-quantity2:checked ~ .container {
  --variant-2-quantity: 2;
}

/* variant3 */
input#variant3-1-quantity0:checked ~ .container {
  --variant-3-quantity: 0;
}

input#variant3-1-quantity1:checked ~ .container {
  --variant-3-quantity: 1;
}

input#variant3-1-quantity2:checked ~ .container {
  --variant-3-quantity: 2;
}

/* price */
/* variant1 */
/* black x size */
input#variant-1:checked ~ input#variant-1-option-1-1:checked ~ input#variant-1-option-2-1:checked ~ .container {
  --variant-1-price: 10.10;
}

input#variant-1:checked ~ input#variant-1-option-1-2:checked ~ input#variant-1-option-2-1:checked ~ .container {
  --variant-1-price: 10.20;
}

input#variant-1:checked ~ input#variant-1-option-1-3:checked ~ input#variant-1-option-2-1:checked ~ .container {
  --variant-1-price: 10.30;
}

/* green x size */
input#variant-1:checked ~ input#variant-1-option-1-1:checked ~ input#variant-1-option-2-2:checked ~ .container {
  --variant-1-price: 20.10;
}

input#variant-1:checked ~ input#variant-1-option-1-2:checked ~ input#variant-1-option-2-2:checked ~ .container {
  --variant-1-price: 20.20;
}

input#variant-1:checked ~ input#variant-1-option-1-3:checked ~ input#variant-1-option-2-2:checked ~ .container {
  --variant-1-price: 20.30;
}

/* blue x size */
input#variant-1:checked ~ input#variant-1-option-1-1:checked ~ input#variant-1-option-2-3:checked ~ .container {
  --variant-1-price: 30.10;
}

input#variant-1:checked ~ input#variant-1-option-1-2:checked ~ input#variant-1-option-2-3:checked ~ .container {
  --variant-1-price: 30.20;
}

input#variant-1:checked ~ input#variant-1-option-1-3:checked ~ input#variant-1-option-2-3:checked ~ .container {
  --variant-1-price: 30.30;
} 


input#variant1-2:checked ~ .container {
  --variant-1-price: 10.20;
}

input#variant1-3:checked ~ .container {
  --variant-1-price: 10.30;
}

/* variant2 */
input#variant2-1:checked ~ .container {
  --variant-2-price: 20.10;
}

input#variant2-2:checked ~ .container {
  --variant-2-price: 20.20;
}

input#variant2-3:checked ~ .container {
  --variant-2-price: 20.30;
}

/* variant3 */
input#variant3-1:checked ~ .container {
  --variant-3-price: 30.10;
}

input#variant3-2:checked ~ .container {
  --variant-3-price: 30.20;
}

input#variant3-3:checked ~ .container {
  --variant-3-price: 30.30;
}


/* CALCULATE PRICES */
/* variants */
.variant-1 > .total-price {
  --total-price: calc(var(--variant-1-quantity) * var(--variant-1-price));
  --total-price-integer: round(down, var(--total-price), 1);
  --total-price-decimal: calc((var(--total-price) - var(--total-price-integer)) * 100);
  counter-increment: integer var(--total-price-integer) decimal var(--total-price-decimal); 
}

.variant-1 > .total-price::after { content: counter(integer) "," counter(decimal) " €"}

.variant-2 > .total-price {
  --total-price: calc(var(--variant-2-quantity) * var(--variant-2-price));
  --total-price-integer: round(down, var(--total-price), 1);
  --total-price-decimal: calc((var(--total-price) - var(--total-price-integer)) * 100);
  counter-increment: integer var(--total-price-integer) decimal var(--total-price-decimal);
}

.variant-2 > .total-price::after { content: counter(integer) "," counter(decimal) " €"}

.variant-3 > .total-price {
  --total-price: calc(var(--variant-3-quantity) * var(--variant-3-price));
  --total-price-integer: round(down, var(--total-price), 1);
  --total-price-decimal: calc((var(--total-price) - var(--total-price-integer)) * 100);
  counter-increment: integer var(--total-price-integer) decimal var(--total-price-decimal);
}

.variant-3 > .total-price::after { content: counter(integer) "," counter(decimal) " €"}


/* total order price */
.total-order-price {
  --total-order-price: calc(var(--variant-1-quantity) * var(--variant-1-price) + var(--variant-2-quantity) * var(--variant-2-price) + var(--variant-3-quantity) * var(--variant-3-price));
  --total-order-price-integer: round(down, var(--total-order-price), 1);
  --total-order-price-decimal: calc((var(--total-order-price) - var(--total-order-price-integer)) * 100);
  counter-increment: integer var(--total-order-price-integer) decimal var(--total-order-price-decimal);
}

.total-order-price::after {
  content: "Gesamt: " counter(integer) "," counter(decimal) " €";
}


/* CLICK COUNTERS */
/* up */
input#variant-1-quantity-0:checked ~ .container > .variants > .variant-1 .variant-1-quantity-1-up, 
input#variant-1-quantity-1:checked ~ .container > .variants > .variant-1 .variant-1-quantity-2-up,
input#variant-1-quantity-2:checked ~ .container > .variants > .variant-1 .variant-1-quantity-3-up,
input#variant-1-quantity-3:checked ~ .container > .variants > .variant-1 .variant-1-quantity-4-up,
input#variant-1-quantity-4:checked ~ .container > .variants > .variant-1 .variant-1-quantity-5-up,
input#variant-1-quantity-5:checked ~ .container > .variants > .variant-1 .variant-1-quantity-6-up,
input#variant-1-quantity-6:checked ~ .container > .variants > .variant-1 .variant-1-quantity-7-up,
input#variant-1-quantity-7:checked ~ .container > .variants > .variant-1 .variant-1-quantity-8-up,
input#variant-1-quantity-8:checked ~ .container > .variants > .variant-1 .variant-1-quantity-9-up,
input#variant-1-quantity-9:checked ~ .container > .variants > .variant-1 .variant-1-quantity-10-up {
  display: flex;
}

/* down */
input#variant-1-quantity-1:checked ~ .container > .variants > .variant-1 .variant-1-quantity-0-down, 
input#variant-1-quantity-2:checked ~ .container > .variants > .variant-1 .variant-1-quantity-1-down,
input#variant-1-quantity-3:checked ~ .container > .variants > .variant-1 .variant-1-quantity-2-down,
input#variant-1-quantity-4:checked ~ .container > .variants > .variant-1 .variant-1-quantity-3-down,
input#variant-1-quantity-5:checked ~ .container > .variants > .variant-1 .variant-1-quantity-4-down,
input#variant-1-quantity-6:checked ~ .container > .variants > .variant-1 .variant-1-quantity-5-down, 
input#variant-1-quantity-7:checked ~ .container > .variants > .variant-1 .variant-1-quantity-6-down,
input#variant-1-quantity-8:checked ~ .container > .variants > .variant-1 .variant-1-quantity-7-down,
input#variant-1-quantity-9:checked ~ .container > .variants > .variant-1 .variant-1-quantity-8-down,
input#variant-1-quantity-10:checked ~ .container > .variants > .variant-1 .variant-1-quantity-9-down {
  display: flex;
}

/* varinat1 counter  */
/* TODO: allgemeinden Selektor der auf alle varianten dann passt */
input#variant-1-quantity-1:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "1"
}

input#variant-1-quantity-2:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "2"
}

input#variant-1-quantity-3:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "3"
}

input#variant-1-quantity-4:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "4"
}

input#variant-1-quantity-5:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "5"
}

input#variant-1-quantity-6:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "6"
}

input#variant-1-quantity-7:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "7"
}

input#variant-1-quantity-8:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "8"
}

input#variant-1-quantity-9:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "9"
}

input#variant-1-quantity-10:checked ~ .container > .variants > .variant-1 #variant-1-quantity-counter::after {
  content: "10"
}

/* OPTIONS */
/* variant */
#variant-1-option-1-1-img,
#variant-1-option-1-2-img,
#variant-1-option-1-3-img {
  display: none;
}

#variant-1-option-2-1-img {
  background: url("https://cdn.aboutstatic.com/file/images/6e368ba213b85a221a170d2732328a58.jpg?brightness=0.96&quality=75&trim=1&height=120&width=120") no-repeat center / 2rem;
  
}

#variant-1-option-2-2-img {
  background: url("https://cdn.aboutstatic.com/file/images/bd55a548efb3eb3b3c542bfc7b7f972a.png?bg=F4F4F5&quality=75&trim=1&height=120&width=120") no-repeat center / 2rem;
}

#variant-1-option-2-3-img {
  background: url("https://cdn.aboutstatic.com/file/images/7bcafa8ecf1ae5015eacc8ea82390a25.png?bg=F4F4F5&quality=75&trim=1&height=120&width=120") no-repeat center / 2rem;
}

/* todo: generell prüfen ob man so lange selector benötigt... wenn man z. B. eh ID verwendet dann könnte man vll den mittleren teil kürzen und nur input ~ #id in desem beispiel statt class id verwenden */
/* todo: und generell ids verwenden statt class bei diesen selectors */
input#variant-1:checked ~ #variant-1-option-1-1:checked ~ .container #variant-1-option-1-1-label, 
input#variant-1:checked ~ #variant-1-option-1-2:checked ~ .container #variant-1-option-1-2-label,
input#variant-1:checked ~ #variant-1-option-1-3:checked ~ .container #variant-1-option-1-3-label,
input#variant-1:checked ~ #variant-1-option-2-1:checked ~ .container #variant-1-option-2-1-label,
input#variant-1:checked ~ #variant-1-option-2-2:checked ~ .container #variant-1-option-2-2-label,
input#variant-1:checked ~ #variant-1-option-2-3:checked ~ .container #variant-1-option-2-3-label {
  outline: 2px solid #007BFF; 
  outline-offset: -2px;
  background-color: #E6F4FF;
  color: #007BFF;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* supporting text */
input#variant-1-option-2-1:checked ~ .container > .variants > .variant-1 > .variant-options #variant-option-2-supporting-text::after {
  content: "Schwarz"
}

input#variant-1-option-2-2:checked ~ .container > .variants > .variant-1 > .variant-options #variant-option-2-supporting-text::after {
  content: "Grün"
}

input#variant-1-option-2-3:checked ~ .container > .variants > .variant-1 > .variant-options #variant-option-2-supporting-text::after {
  content: "Blau"
}

/* RECOMMENDATIONS */
/* hidde variant item if quantity 0 */
input#variant-1-quantity-0:checked ~ .container > .variants > .variant-1 {
  display: none
}

/* hidde recommendation item if quantity < 1 */
input#variant-1-quantity-1:checked ~ .container #recommendation-1,
input#variant-1-quantity-2:checked ~ .container #recommendation-1,
input#variant-1-quantity-3:checked ~ .container #recommendation-1,
input#variant-1-quantity-4:checked ~ .container #recommendation-1,
input#variant-1-quantity-5:checked ~ .container #recommendation-1,
input#variant-1-quantity-6:checked ~ .container #recommendation-1,
input#variant-1-quantity-7:checked ~ .container #recommendation-1,
input#variant-1-quantity-8:checked ~ .container #recommendation-1,
input#variant-1-quantity-9:checked ~ .container #recommendation-1,
input#variant-1-quantity-10:checked ~ .container #recommendation-1 {
  display: none;
  }

input#variant-1-quantity-1:checked ~ .container #recommendations,
input#variant-1-quantity-2:checked ~ .container #recommendations,
input#variant-1-quantity-3:checked ~ .container #recommendations,
input#variant-1-quantity-4:checked ~ .container #recommendations,
input#variant-1-quantity-5:checked ~ .container #recommendations,
input#variant-1-quantity-6:checked ~ .container #recommendations,
input#variant-1-quantity-7:checked ~ .container #recommendations,
input#variant-1-quantity-8:checked ~ .container #recommendations,
input#variant-1-quantity-9:checked ~ .container #recommendations,
input#variant-1-quantity-10:checked ~ .container #recommendations {
  display: none;
  }

  /* image carousel */
  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    /* disable image shadow */
    /* filter: drop-shadow(0 0 10px #0003); */
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    /* TODO: replace url */
    background: url('https://www.kern-stelly.de/media/catalog/product/cache/1/image/1200x1200/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/platzhalter_produkte_3_Kopie.jpg'); 
    counter-increment: item;
  }
  
  /* disable slide count */
  /* .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  } */
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: none;
      /* disable autoplay */
      /* animation-name: tonext, snap;  */
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: none;
      /* animation-name: tostart, snap; */
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
 
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: 0rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: 0rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: rgba(0,0,0,.5);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="%23fff"><path d="M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15z"/></svg>');
  }
  
  .carousel::after {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="%23fff"><path d="M9 3 7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z"/></svg>');
  }

  /* carousel iamges */
  .carousel__slide {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }

  /* option-2-1 */
  input#variant-1-option-2-1:checked ~ .container #carousel__slide1 {
    background: url("https://cdn.aboutstatic.com/file/images/6e368ba213b85a221a170d2732328a58.jpg?brightness=0.96&quality=75&trim=1&height=1280&width=960") center; 
  }

  input#variant-1-option-2-1:checked ~ .container #carousel__slide2 {
    background: url("https://cdn.aboutstatic.com/file/images/2803f4e06f281f707648e72959bfa07f.jpg?quality=75&height=1280&width=960") center; 
  }

  input#variant-1-option-2-1:checked ~ .container #carousel__slide3 {
    background: url("https://cdn.aboutstatic.com/file/images/04c7a63d5ce7fc86ea247a150ef4035a.jpg?brightness=0.96&quality=75&trim=1&height=1280&width=960") center; 
  }

  input#variant-1-option-2-1:checked ~ .container #carousel__slide4 {
    background: url("https://cdn.aboutstatic.com/file/images/a6ba1c64f1498d1896de6ae38a4a7594.jpg?quality=75&height=1280&width=960") center; 
  }

  input#variant-1-option-2-1:checked ~ .container #carousel__slide5 {
    background: url("https://cdn.aboutstatic.com/file/images/36bf7f597833da42e1dc7ddfb9ad6cf2.jpg?quality=75&height=1280&width=960") center; 
  }

/* option-2-2 */
input#variant-1-option-2-2:checked ~ .container #carousel__slide1 {
  background: url("https://cdn.aboutstatic.com/file/images/bd55a548efb3eb3b3c542bfc7b7f972a.png?bg=F4F4F5&quality=75&trim=1&height=1280&width=960") center; 
}

input#variant-1-option-2-2:checked ~ .container #carousel__slide2 {
  background: url("https://cdn.aboutstatic.com/file/images/27816f6e994869b6e10e6f7aad2a9ea6.jpg?quality=75&height=1280&width=960") center; 
}

input#variant-1-option-2-2:checked ~ .container #carousel__slide3 {
  background: url("https://cdn.aboutstatic.com/file/images/4eef608d8202d783c2a2f52beba521a1.jpg?quality=75&height=1280&width=960") center; 
}

input#variant-1-option-2-2:checked ~ .container #carousel__slide4 {
  background: url("https://cdn.aboutstatic.com/file/images/5ebcd1022fd75ca1b60c9142ce6f718c.jpg?quality=75&height=1280&width=960") center; 
}

input#variant-1-option-2-2:checked ~ .container #carousel__slide5 {
  background: url("https://cdn.aboutstatic.com/file/images/c44a11dc4f86815ca320a0d9d27795bf.jpg?quality=75&height=1280&width=960") center; 
}

/* option-2-3 */
input#variant-1-option-2-3:checked ~ .container #carousel__slide1 {
  background: url("https://cdn.aboutstatic.com/file/images/7bcafa8ecf1ae5015eacc8ea82390a25.png?bg=F4F4F5&quality=75&trim=1&height=1280&width=960") center; 
}

input#variant-1-option-2-3:checked ~ .container #carousel__slide2 {
  background: url("https://cdn.aboutstatic.com/file/images/7b8adfae0e0a419e2b22f0af26b18c4f.jpg?quality=75&height=1280&width=960") center; 
}

input#variant-1-option-2-3:checked ~ .container #carousel__slide3 {
  background: url("https://cdn.aboutstatic.com/file/images/b198626684738e40b04852f3a9ef847e.jpg?quality=75&height=1280&width=960") center; 
}

input#variant-1-option-2-3:checked ~ .container #carousel__slide4 {
  background: url("https://cdn.aboutstatic.com/file/images/0b34745fbe849c1973a41716e3d521d4.jpg?quality=75&height=1280&width=960") center; 
}

input#variant-1-option-2-3:checked ~ .container #carousel__slide5 {
  background: url("https://cdn.aboutstatic.com/file/images/c597416388e3542bbf02a32a35d47979.jpg?quality=75&height=1280&width=960") center; 
}


  
  

  

/* VISIBILITY */
label {
  display: none;
}

/* STYLING */
/* common */
h1, h2, h3 , h4, h5, h6, p {
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* variants */
.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.variants {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.variant-1, .variant-2, .variant-3 {
  flex: 1; 
  width: max-content;
  border:  1px solid black;
  padding: 4px;
  margin-bottom: 16px;
}

/* quantity counter */
.quantity-counter {
  display: flex;
  align-items: center;
  width: 140px;
  border: 1px solid lightgrey;
  column-gap: 10px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.quantity-counter:hover {
  border: 1px solid black;
}

#variant-1-quantity-0-down {
  opacity: 0.5;
  font-size: 0.8em;
  position: relative;
  width: 40px;
  top: 26px;
  left: 12px;
}

label[class*="-up"],
label[class*="-down"] {
  width: 40px;
  height: 32px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

label[class*="-up"] {
  font-size: 1.3em;
}

label[class*="-down"] {
  font-size: 1.8em;
}

.quantity-counter-number {
  font-size: 1.1em;
  width: 32px;
  text-align: center;
}

.total-price {
  font-size: 1.2em;
}

/* variant option */
.variant-options {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.variant-option-container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.variant-option-1, 
.variant-option-2 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.variant-option {
  display: flex;
  height: max-content;
  min-width: 40px;
  flex-direction: column;
  padding: 4px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: #F4F4F5;
  cursor: pointer;
}

.variant-option-name { 
  text-align: center;
}

.variant-option-img {
  height: 50px;
}

.variant-option:hover {
  outline: 2px solid #007BFF; 
  outline-offset: -2px;
  background-color: #E6F4FF;
  color: #007BFF;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* recommendation */
.recommendations {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.recommendation {
  display: flex;
  height: max-content;
  min-width: 80px;
  flex-direction: column;
  padding: 4px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: #F4F4F5;
  cursor: pointer;
}

.variant-recommendation-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  outline: 2px solid #007BFF; 
  outline-offset: -2px;
  color: #007BFF;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
}

/* checkount */
.checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
}



